
body, .content-wrapper{font-family:Arial, Helvetica, sans-serif}

#logot, .textArch{color: #ddaa44ff; font-family: 'Architects Daughter';}

.txtArchBl{font-family: 'Architects Daughter';}

#titleInd{font-size: 50px;}

#wrapM li, .descP{color: rgb(173, 126, 30);}

.nav-item p,section p{color: rgb(187, 138, 40);}

#header-nav{background-color: #ddaa44ff;}
#cerrarSess{color: #ddaa44ff;}

#asidecont{
    background-color: #1b120d;
}
/* #txtlog{color: #1b120d;} */
.login-box a:link,.lgReg{color: #1b120d;}
.login-box a:hover,.lgReg:hover{color: #ddaa44ff;}
section p{
    font-size: 20px;
}
/* section img{
    width: 300px;
} */

.contImg .img-fluid{transition: transform .6s;}
.contImg .img-fluid:hover{transform: scale(0.9);}

#modalMsg{
    color: white;
}
